.copyright-block {
  @include block-styling;
      & span {
        font: 100 .7rem/1 $Arimo;
        color: $ltgray;
        padding: 5px;
        &:hover {
          color: $dkgray;
          text-decoration: underline;
        }
      }

}
