.follow-block {
  @include block-styling;
    & h3 {
        font: 100 1rem/1 $Montserrat;

        & span {
            font: 400 0.7rem/1 $Arimo;
            color: $color;
            padding-left: 5px;
        }
    }
  }
  .follow-tweet {
      & h4 {
          color: $color;
          font: 700 0.8rem/1 $Arimo;
          padding: 5px 5px 0;
      }
      & p {
        color: $dkgray;
        font: 400 0.8rem/1 $Arimo;
        padding-left: 5px;
      }
  }
