
//fonts
$Montserrat: 'Montserrat', sans-serif;
$Arimo: 'Arimo', sans-serif;

//colors
$red: #E81C4F;
$pg-bg: #E5F0F7;
$darkwhite: #f5f8fa;
$dkgray: #626262;
$color: #1DA1F2;
$ltgray: #CBCBCB;

body {
    font: 14px/1.4 $Arimo;
    width: 100%;
    margin: 0 auto;
    background-color: $pg-bg;
}

a {
    color: $color;
  }

  .page-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
  }
