.auth-btn {
  margin: 0 auto;
  text-align: center;
  width: 200px;
  & button {
    width: 150px;
    margin-top: 20px;
  }
}

.user-input-form {
    align-items: center;
    background-color: $darkwhite;
    border: 1px solid $color;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    padding: 60px 0;
    width: 300px;
    & h1 {
      font: 700 1.5rem $Arimo;
      color: $color;
    }

    & h2 {
      font: 700 1rem $Arimo;
      color: $color;
    }

    & img {
      padding-bottom: 20px;
    }

    & input {
        width: 200px;
        font: 400 1rem $Arimo;
        text-align: center;
        border-radius: 5px;
    }
    & button {
      margin-top: 20px;
    }
}
