.main-container {
  margin-left: 131px;
  margin-right: 131px;
}

.dashboard-left {
  border: 1px solid black;
  height: 707px;
  width: 290px;
}

.dashboard-profile-card {
  border-radius: 4px;
  border: 1px solid black;
  height: 290px;
  margin: 10px;
  width: 100%;
}
