
//fonts
$Montserrat: 'Montserrat', sans-serif;
$Arimo: 'Arimo', sans-serif;

//colors
$red: #E81C4F;
$darkwhite: #f5f8fa;
$dkgray: #626262;
$color: #1DA1F2;
$ltgray: #CBCBCB;

@mixin isRounded {
  border-radius: 5px;
}

@mixin vcenter {
  transform: translate(0, -50%);
}
=======
