
//fonts
$Montserrat: 'Montserrat', sans-serif;
$Arimo: 'Arimo', sans-serif;

//colors
$red: #E81C4F;
$dkgray: #626262;
$color: #009999;
$ltgray: #CBCBCB;

@mixin isRounded {
  border-radius: 5px;
}

@mixin vcenter {
  transform: translate(0, -50%);
}
