.user-block {
    @include isRounded;
    @include block-styling;
    background-color: $color;
    padding: 0;
    width: 250px;
    height: 180px;
    h2 {
        font-weight: 700;
        font-size: 1.1rem;
    }
    p {
        font-size: 0.8rem;
    }
}

.user-block-heading {
    color: $ltgray;
    text-transform: uppercase;
}

.user-block-values {
    color: $color;
    font-weight: 700;
}

.lower-half {
    background-color: white;
    bottom: 0;
    height: 100px;
    position: absolute;
    width: 100%;

    & ul {
        clear: both;
        display: flex;
        height: 0;
        justify-content: center;
        & li {
          padding: 0 3px;

        }
    }
}

.username-block {
    & img {
        @include isRounded;
        @include vcenter;
        border: 3px solid white;
        float: left;
        margin: 0 5px -20px;
        width: 75px;
    }
  }
