@import 'partials/reset';
@import 'partials/styling';
@import 'partials/topbar';
@import 'partials/globals';
@import 'partials/maincontainer';
@import 'partials/user-block';
@import 'partials/trends-block';
@import 'partials/follow-block';
@import 'partials/copyright-block';
@import 'partials/tweet-block';

body {
    font: 14px/1.4 $Arimo;
    width: 100%;
    margin: 0 auto;
}

a {
    color: $color;
